<header><h3>Circuit Circus</h3></header>
<nav>
  <a href="/">
    <span id="home_link">Home</span>
  </a>
    <img src="/assets/bat_pos_right.png" class="nav_bat">
    
  
    <!-- <hr id="first_hr"> -->
  <a href="/whatisacircuit">
    <span id="first_link">Circuit</span>
  </a>
    <img src="/assets/resistor.png" class="nav_res">
    
  
    <!-- <hr class="hr"> -->
  <a href="/ohm">
    <span id="second_link">Ohm's Law</span>
  </a>
    <img src="/assets/resistor.png" class="nav_res">
    
   
    <!-- <hr class="hr"> -->
  <a href="/series">
    <span id="third_link">Series</span>
  </a>
    <img src="/assets/resistor.png" class="nav_res">
    
   
    <!-- <hr class="hr"> -->
  <a href="/parallel">
    <span id="fourth_link">Parallel</span>
  </a>
    <img src="/assets/resistor.png" class="nav_res">
    
    
    <!-- <hr class="hr"> -->
  <a href="/games1">
    <span id="fifth_link">Game 1</span>
  </a>
    <img src="/assets/resistor.png" class="nav_res">
    
    
    <!-- <hr class="hr"> -->
  <a href="/games2" class="no_click">
    <span id="sixth_link" style="visibility: hidden">Game 2</span>
  </a>
    <img src="/assets/resistor.png" class="nav_res"> 
    

  <img src="/assets/lightbulb.png" id="lightbulb_off"> 
</nav>
<div class="clear"></div>
<div class="info">
  <div class="learning_first">
    <div class="init_text">
      <h2>Series Circuit</h2>
        Solve the series circuit! Remember, V = I * R and for a series
        circuit R = R1 + R2 + R3.
      </p>
    </div>
    
  </div>
  <div class="outer_third">
    <h2>Series Circuit Game</h2>
    <div class="outer-dropzones_fifth">
      
      <div class="resdrop">
        <div id="outer-dropzone15" class="res_dropzone_fifth">
        </div>
        <div id="outer-dropzone16" class="res_dropzone_fifth">
        </div>
        <div id="outer-dropzone17" class="res_dropzone_fifth">
        </div>
        <div id="outer-dropzone18" class="battery_dropzone_s">
        </div>
      </div>
    </div>
    <%= link_to "Correct!", games2_path, :class=>"button" %>
    <%= link_to "Try Again", games1_path, :class=>"wrong_button" %>
    <button id="check">Check Answer</button>

  </div>

  <div class="droppings">
    <div class="draggable drag-drop resistor_s series_res" data-score="3">
      <p>3&Omega;</p>
      <img src="/assets/resistor.png">
    </div> 
    <div class="draggable drag-drop resistor_s series_res" data-score="2">
      <p>2&Omega;</p>
      <img src="/assets/resistor.png"> 
    </div> 
    <div class="draggable drag-drop resistor_s series_res" data-score="1">
      <p>1&Omega;</p>
      <img src="/assets/resistor.png" >
    </div> 
    <div class="draggable drag-drop resistor_s series_res" data-score="5">
      <p>5&Omega;</p>
      <img src="/assets/resistor.png" >
    </div> 
    <div class="draggable drag-drop resistor_s series_res" data-score="2">
      <p>2&Omega;</p>
      <img src="/assets/resistor.png" >
    </div> 
  </div>
</div>





