<nav>
  <a href="/">
    <span id="home_link">Home</span>
    <img src="/assets/bat_pos_right.png" class="nav_bat">
    
  </a>
    <!-- <hr id="first_hr"> -->
  <a href="/whatisacircuit">
    <span id="first_link">Circuit</span>
    <img src="/assets/resistor.png" class="nav_res">
    
  </a>
    <!-- <hr class="hr"> -->
  <a href="/ohm">
    <span id="second_link">Ohm's Law</span>
    <img src="/assets/resistor.png" class="nav_res">
    
  </a> 
    <!-- <hr class="hr"> -->
  <a href="/series">
    <span id="third_link">Series</span>
    <img src="/assets/resistor.png" class="nav_res">
    
  </a> 
    <!-- <hr class="hr"> -->
  <a href="/parallel">
    <span id="fourth_link">Parallel</span>
    <img src="/assets/resistor.png" class="nav_res">
    
  </a>  
    <!-- <hr class="hr"> -->
  <a href="/games1">
    <span id="fifth_link">Game 1</span>
    <img src="/assets/resistor.png" class="nav_res">
    
  </a>  
    <!-- <hr class="hr"> -->
  <a href="/games2">
    <span id="sixth_link">Game 2</span>
    <img src="/assets/resistor.png" class="nav_res">
    
  </a>  
    <!-- <hr class="hr" id="last_hr"> -->
  <img src="/assets/lightbulb.png" id="lightbulb_off"> 
</nav>