<!-- 
<nav>
  <div class="cirleparent">
    <div class="circle"></div>
    <span>Home</span>
  </div>
 
 <div class="cirleparent">
    <div class="circle"></div>
    <span>Home</span>
  </div>  
   
   <div class="cirleparent">
    <div class="circle"></div>
    <span>Home</span>
  </div>
  
  <div class="cirleparent">
    <div class="circle"></div>
    <span>Home</span>
  </div>
   
   <div class="cirleparent">
    <div class="circle"></div>
    <span>Home</span>
  </div> -->
<!-- </nav> -->
<div class="clear"></div>
<div class="learning_first"></div>
<div class="outer">
  <div class="outer-dropzones_first">
    <div id="outer-dropzone4" class="res_dropzone_first">
    </div>
    <div id="outer-dropzone5" class="battery_dropzone_first">
    </div>
  </div>
  </div>

  <div class="droppings">
    <div class="draggable drag-drop resistor" >
      <img src="/assets/resistor.png">
    </div>

    <div id="yes-drop" class="draggable drag-drop battery">
      <img src="/assets/bat_pos_left.png">
    </div>
  </div>



