<!-- 
<nav>
  <div class="cirleparent">
    <div class="circle"></div>
    <span>Home</span>
  </div>
 
 <div class="cirleparent">
    <div class="circle"></div>
    <span>Home</span>
  </div>  
   
   <div class="cirleparent">
    <div class="circle"></div>
    <span>Home</span>
  </div>
  
  <div class="cirleparent">
    <div class="circle"></div>
    <span>Home</span>
  </div>
   
   <div class="cirleparent">
    <div class="circle"></div>
    <span>Home</span>
  </div> -->
<!-- </nav> -->
<div class="clear"></div>
<div class="learning_first">
  <div class="res_text">
    <h2>Resistors</h2>
    <p>
      A resistor represents a given amount of resistance 
      in a circuit. Resistance is a measure of how the flow 
      of electric current is opposed or "resisted." It is 
      defined by Ohm's law which says the resistance equals 
      the voltage divided by the current. 
    </p>
  </div>
</div>
<div class="outer">
  <div class="outer-dropzones_first">
    <div id="outer-dropzone4" class="res_dropzone_first">
    </div>
    <div id="outer-dropzone5" class="battery_dropzone_first">
    </div>
  </div>
  </div>

  <div class="droppings">
    <div class="draggable drag-drop resistor" >
      <img src="/assets/resistor.png">
    </div>

    <div id="yes-drop" class="draggable drag-drop battery">
      <img src="/assets/bat_pos_left.png">
    </div>
  </div>



