
<nav>
  <a href="#home.html"><img src="/assets/bat_pos_right.png" class="nav_bat"><span id="heyy">Home</span></a>
    <hr id="first_hr">
  <a href="#"><img src="/assets/resistor.png" class="nav_res"><span>What is a Circuit</span></a>
    <hr class="hr">
  <a href="#"><img src="/assets/resistor.png" class="nav_res"></a> 
    <hr class="hr">
  <a href="#"><img src="/assets/resistor.png" class="nav_res"></a>
    <hr class="hr">
  <a href="#"><img src="/assets/resistor.png" class="nav_res"></a> 
    <hr class="hr">
  <a href="#"><img src="/assets/resistor.png" class="nav_res"></a> 
    <hr class="hr">
  <a href="#"><img src="/assets/resistor.png" class="nav_res"></a> 
    <hr class="hr" id="last_hr">
  <img src="/assets/lightbulb.png" class="nav_res" id="lightbulb_off"> 
</nav>
<div class="clear"></div>
<div class="info">
  <div class="learning_first">
    <div class="init_text">
      <h2>Welcome!</h2>
      <p>
        This is lesson one! Here you have a basic circuit! Click on the glowing red resistor and drag it to the dashed box that appears!
      </br></br>
      <h2>Circuit</h2>
        An electronic circuit is a complete course of conductors through which current can travel. Circuits provide a path for current to flow. To be a circuit, this path must start and end at the same point. In other words, a circuit must form a loop.
      </p>
    </div>
    <div class="res_text">
      <h2>Resistors</br></h2>
      <p>
        A resistor represents a given amount of resistance 
        in a circuit. Resistance is a measure of how the flow 
        of electric current is opposed or "resisted." It is 
        defined by Ohm's law which says the resistance equals 
        the voltage divided by the current. 
      </p>
    </div>
    <div class="bat_text">
      <h2>Battery</br></h2>
      <p>
        A battery represents a given amount of resistance 
        in a circuit. Resistance is a measure of how the flow 
        of electric current is opposed or "resisted." It is 
        defined by Ohm's law which says the resistance equals 
        the voltage divided by the current. 
      </p>
    </div>
  </div>
  <div class="outer">
    <div class="outer-dropzones_first">
      <h2>What is a Circuit?</h2>
      <div id="outer-dropzone4" class="res_dropzone_first">
      </div>
      <div id="outer-dropzone5" class="battery_dropzone_first">
      </div>
    </div>
  </div>

  <div class="droppings">
    <div class="draggable drag-drop resistor">
      <img src="/assets/resistor.png" id="start_res">
    </div> 

    <div id="yes-drop" class="draggable drag-drop battery">
      <img src="/assets/bat_pos_left.png">
    </div>
  </div>
</div>



