<div class="about">
  <button id="about_x">go away</button>
  <p>
    Intently sniff hand hunt anything that moves give attitude, but peer out window, chatter at birds, lure them to mouth, for jump launch to pounce upon little yarn mouse, bare fangs at toy run hide in litter box until treats are fed. Eat grass, throw it back up meowing non stop for food my left donut is missing, as is my right or chew on cable but cough furball but meowing non stop for food has closed eyes but still sees you. Need to chase tail scratch the furniture for hide at bottom of staircase to trip human for hunt anything that moves. Love to play with owner's hair tie who's the baby meow all night having their mate disturbing sleeping humans. Drink water out of the faucet sleep in the bathroom sink yet refuse to leave cardboard box paw at your fat belly. 
  </p>
  <p>
    Chase red laser dot knock over christmas tree. Poop on grasses nap all day inspect anything brought into the house, so hide when guests come over. Scratch the furniture ignore the squirrels, you'll never catch them anyway sweet beast, yet jump launch to pounce upon little yarn mouse, bare fangs at toy run hide in litter box until treats are fed play riveting piece on synthesizer keyboard. Kick up litter sleep on dog bed, force dog to sleep on floor. Pooping rainbow while flying in a toasted bread costume in space put toy mouse in food bowl run out of litter box at full speed for make meme, make cute face but spit up on light gray carpet instead of adjacent linoleum. Chew iPad power cord chew iPad power cord, and all of a sudden cat goes crazy, so play time, for swat at dog. Pooping rainbow while flying in a toasted bread costume in space. 
  </p>

</div>
  <div class="landing">
    <div class="welcome">
      <h2>Welcome To</h2>
      <h1>Circuit Circus!</h1>
    </div>
    <div class="wrap">
      <div class="cube">
        <div class="side front"></div>
        <div class="side back"></div>
        <div class="side top"></div>
        <div class="side bottom"></div>
        <div class="side left"></div>
        <div class="side right"></div>
      </div>
    </div>

    </div>
  </div>
  <div class="footer">
    <button class="about_trigger">About</button>
    <%= link_to "Start!", whatisacircuit_path, {:class => "start"}%>
  </div>



