 <!-- <img src="resistor.png"> -->
<div id="drag-1" class="draggable" >
<img src="/assets/resistor.png" class="draggable">
<img src="/assets/resistor.png" class="draggable">
<img src="/assets/bat_pos_left.png" class="draggable">

</div>


