<div class="about">
  <button id="about_x">Done!</button>
  <p>
    This is a simple circuitry learning game for kids and adults. My background is Electrical Engineering and I feel most people never get a chance to try out any form of circuitry, so I thought i'd try out making a small learning game. Hope you enjoy and have fun! If you feel the need to email me you can find me at glarson615(at)gmail(dot)com. Enjoy! 
  </p>
</div>
<div class="pleasebesmall">
  <div class="landing">
    <div class="welcome">
      <h2>Welcome To</h2>
      <h1>Circuit Circus!</h1>
    </div>
    <div class="wrap">
      <div class="cube">
        <div class="side front"></div>
        <div class="side back"></div>
        <div class="side top"></div>
        <div class="side bottom"></div>
        <div class="side left"></div>
        <div class="side right"></div>
      </div>
    </div>

    </div>
  <div class="footer">
    <div class="about_trigger">About</div>
    <%= link_to "Start!", whatisacircuit_path, {:class => "start"}%>
  </div>
</div>



