<!-- 
<nav>
  <div class="cirleparent">
    <div class="circle"></div>
    <span>Home</span>
  </div>
 
 <div class="cirleparent">
    <div class="circle"></div>
    <span>Home</span>
  </div>  
   
   <div class="cirleparent">
    <div class="circle"></div>
    <span>Home</span>
  </div>
  
  <div class="cirleparent">
    <div class="circle"></div>
    <span>Home</span>
  </div>
   
   <div class="cirleparent">
    <div class="circle"></div>
    <span>Home</span>
  </div> -->
<!-- </nav> -->
<div class="learning"></div>
<div class="outer">
  <div class="outer-dropzones">
    <div id="outer-dropzone1" class="res_dropzone">
    </div>
    <div id="outer-dropzone2" class="res_dropzone">
    </div>
    <div id="outer-dropzone3" class="battery_dropzone">
    </div>
  </div>
  </div>

  <div class="droppings">
    <div class="draggable drag-drop resistor" >
      <img src="/assets/resistor.png">
    </div>

    <div class="draggable drag-drop resistor" >
      <img src="/assets/resistor.png">
    </div>

    <div id="yes-drop" class="draggable drag-drop battery">
      <img src="/assets/bat_pos_left.png">
    </div>
  </div>



