 <!-- <img src="resistor.png"> -->
<div id="wrapper">
<img src="/assets/circuit2.svg" id="circ">

<div id="outer-dropzone" class="dropzone">
  #outer-dropzone
<!--   <div id="inner-dropzone" class="dropzone">#inner-dropzone</div> -->
 </div>

<img src="/assets/resistor.png" class="draggable">

<div id="yes-drop" class="draggable drag-drop" >
<img src="/assets/resistor.png">
</div>


<img src="/assets/bat_pos_left.png" class="draggable">
<!-- <img src="/assets/circuit2.svg" id="circ"> -->


</div>

<div id="no-drop" class="draggable drag-drop"> #no-drop </div>

<div id="yes-drop" class="draggable drag-drop"> #yes-drop </div>

<div id="outer-dropzone" class="dropzone">
  #outer-dropzone
  <div id="inner-dropzone" class="dropzone">#inner-dropzone</div>
 </div>
