 <!-- <img src="resistor.png"> -->
<!-- <div id="wrapper"> -->
  <!-- <img src="/assets/circuit2.svg" id="circ"> -->
<!-- </div> -->
<div class="outer">
  <div class="outer-dropzones">
    <div id="outer-dropzone1" class="dropzone">
    </div>
    <div id="outer-dropzone2" class="dropzone">
    </div>
    <div id="outer-dropzone3" class="dropzone">
    </div>
  </div>
  </div>
<!-- </div> -->
<!--   <div id="inner-dropzone" class="dropzone">#inner-dropzone</div> -->

  <div class="droppings">
    <div id="yes-drop" class="draggable drag-drop" >
      <img src="/assets/resistor.png">
    </div>

    <div id="yes-drop" class="draggable drag-drop" >
      <img src="/assets/resistor.png">
    </div>

    <div id="yes-drop" class="draggable drag-drop">
      <img src="/assets/bat_pos_left.png">
    </div>
  </div>




<!-- </div> -->
