@mixin outer-dropzone {
  height: 70px;
  width: 205px;
  margin: 0 auto;
}

@mixin links {
  // position: absolute;
  margin: 0;
  padding: 0;
  // display: none;
  // top: 56px;
  border-bottom: 5px solid #FF6E5F;
}
@mixin outer-dropzone2 {
  height: 50px;
  width: 135px;
}
@mixin outer-dropzone3 {
  height: 80px;
  width: 205px;
  margin: 0 auto;
}