@import "bourbon/bourbon";
@import "base/base";
@import "neat/neat";
@import 'mixins';

.outer-dropzones_fourth{
  background: url("/assets/circuit2-02.svg") no-repeat center center;
  // background-size: cover;
  width: 100%;
  height: 600px;
  margin: 0 auto;
  background-size: 70%;
  // background-color: lightblue;
  border-radius: 20px;
  display: inline-block;
  background-position: center;
  // padding-bottom: 20px;
}

#outer-dropzone12 {
  @include outer-dropzone;
}

#outer-dropzone13 {
  @include outer-dropzone;
  margin-top: 140px;
}
#outer-dropzone14 {
   @include outer-dropzone;
  margin-top: 135px;
  height: 130px;
}
.outer_fourth {
  background-color: #FF6E5F;
  // width: 700px; 
  @include span-columns(6);
  border-radius: 20px;
  border: 5px solid white;
  padding-bottom: 30px;
  padding-top: 30px;
}
.outer_fourth h2 {
  font-size: 40px;
  text-align: center;
  margin: 0;
  // margin-bottom: 100px;
}