 .drop-active {
  border-color: #aaa;
}

.drop-target {
  border-color: #fff;
  border-style: solid;
  // background-color: #ccc;
}
.dropped-target {
  background-color: transparent;
}

.drag-drop {
  display: inline-block;
  min-width: 40px;
  padding: 5px;
  border-radius: 5px;

  // color: #fff;
  background-color: transparent;

  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);

  transition: background-color 0.3s;
  // background-size: 100%;
}

.drag-drop.can-drop {
  color: #000;
  background-color: rgba(173,240,90, .8);
  text-align: center;
  margin: 0;
}
.drag-drop.can-drop p{
  margin: 0;
}
