@import "bourbon/bourbon";
@import "base/base";
@import "neat/neat";


#wrapper {
  height: 100%;
  width: 100%;
  background: lightblue;
}
img {
  width: 200px;
  height: 100%;

}

#circ {
  width: 50%;
  position: absolute;
  // top: 50%;
  left: 25%;
}
#outer-dropzone {
  height: 160px;
  width: 210px;
}


.dropzone {
  background-color: #ccc;
  border: dashed 4px transparent;
  border-radius: 4px;
  margin: 10px auto 30px;
  padding: 10px;
  width: 80%;
  transition: background-color 0.3s;
}

.drop-active {
  border-color: #aaa;
}

.drop-target {
  background-color: pink;
  border-color: #fff;
  border-style: solid;
}

.drag-drop {
  display: inline-block;
  min-width: 40px;
  padding: 5px;
  border-radius: 5px;

  // color: #fff;
  background-color: transparent;

  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);

  transition: background-color 0.3s;
}

.drag-drop.can-drop {
  color: #000;
  background-color: orange;

}

