nav {
   // background: url("/assets/Line2.svg") no-repeat center center;
   margin: 0 auto;
   width: 100%;
   margin-left: 30px;

}

.circle {
    width: 30px;
    height: 30px;
    background: grey;
    border-radius: 50%;
    display: inline-block;
    margin: 20px 50px;
}
.circles {
   margin: 0 auto;
   width: 800px;
}
nav img {
  width: 100px;
}
#first_hr {
  // display: inline;
  width: 90px;
  display: inline-block;
  margin: 0 10px 32px -8px;
}
.nav_res {
  margin-left: -16px;
  margin-bottom: 22px;
}
.hr {
  // display: inline;
  width: 90px;
  display: inline-block;
  margin: 0 10px 32px -5px ;
}
hr {
  height: 1px;
  border-bottom: 2px solid darkgrey !important;
}
#lightbulb_off {
  height: 90px;
  width: 70px;
  margin-top: 10px;
}
#last_hr {
  width: 100px;
  margin-right: -13px;
}
nav span {
  position: absolute;
  display: none;
  top: 122px;
  left: 68px;
}














