nav {
   // background: url("/assets/Line2.svg") no-repeat center center;
   margin: 0 auto;
   width: 100%;
   margin-left: 30px;

}
header {
  width: 100vw;
  background-color: #ADF05A;
  text-align: center;
  padding-top: 3px;
  // position: absolute;

}
header h3 {
  font-family: 'Orbitron', sans-serif;
  // margin-top: 13px;

}

.circle {
    width: 30px;
    height: 30px;
    background: grey;
    border-radius: 50%;
    display: inline-block;
    margin: 20px 50px;
}
.circles {
   margin: 0 auto;
   width: 800px;
}
nav img {
  width: 100px;
}
#first_hr {
  // display: inline;
  width: 90px;
  display: inline-block;
  margin: 0 10px 32px -8px;
}
.nav_res {
  margin-left: -16px;
  margin-bottom: 22px;
}
.hr {
  // display: inline;
  width: 90px;
  display: inline-block;
  margin: 0 10px 32px -5px ;
}
hr {
  height: 1px;
  border-bottom: 2px solid #FF6E5F !important;
}
#lightbulb_off {
  height: 90px;
  width: 70px;
  margin-top: 10px;
  margin-left: -16px;
  margin-bottom: 22px;
}
#last_hr {
  width: 100px;
  margin-right: -13px;
}
span {
  color: white;
  font-size: 20px;
}
#home_link {
  position: absolute;
  display: none;
  top: 56px;
  left: 60px;
}
#first_link {
  position: absolute;
  display: none;
  top: 56px;
  left: 195px;
}














