
.circle {
  width: 30px;
    height: 30px;
    background: lightgrey;
    border-radius: 50%;
    display: inline-block;
    // margin-top: 20px;
}
.circleparent {
    // margin: 20px 50px;
  display: inline;
  width: 50px;
}
nav {
   // background: url("/assets/Line.svg") no-repeat center center;
   // margin: 0 auto;
   background: darkgrey;
   width: 100%;

}