.ohm_second {
  display: none;
}

#ohm_res {
  height: 51px;
}
#ohm_bat {
  height: 117px;
}

.outer-dropzones_second{
  background: url("/assets/circuit1_loop.png") no-repeat;
  // background-size: cover;
  width: 100%;
  height: 500px;
  margin: 0 auto;
  background-size: 80%;
  // background-color: lightblue;
  border-radius: 20px;
  display: inline-block;
  background-position: bottom;

}


#outer-dropzone6 {
  @include outer-dropzone;
  margin-top: 41px;
}
#outer-dropzone7 {
  @include outer-dropzone;
  margin-top: 140px;
  height: 130px;
}

.variable_def {
  text-align: center;
}
.current_def {
  text-align: center;
  display: none;
}
.res_def {
  display: none;
  text-align: center;
}
.bat_def {
  display: none;
  text-align: center;
}
.ohm_def {
  display: none;
  text-align: center;
}
.ohm_def p{
  margin: 0;
}

