.res_dropzone_fifth {
  vertical-align: middle;
}
.resdrop {
  vertical-align: middle;
}
#outer-dropzone19{
  @include outer-dropzone;
  // margin-left: 120px;
  // margin-top: 10px;
}
#outer-dropzone20{
  @include outer-dropzone;
  margin-top: 6%;
  // @include shift(1);
  // margin-left: 15px;
  // margin-top: 10px;
}
#outer-dropzone21{
  @include outer-dropzone;
  margin-top: 8%;

  // margin-top: 10px;
}


.draggable p {
  margin: 0;
  text-align: center;
}
.wrong_button {
  display: none;
}
.outer-dropzones_sixth{
  background: url("/assets/circuit2-03.png") no-repeat center center;
  // background-size: cover;
  width: 100%;
  height: 600px;
  margin: 0 auto;
  background-size: 70%;
  // background-color: lightblue;
  border-radius: 20px;
  display: inline-block;
  background-position: center;
  // padding-bottom: 20px;
}