.res_dropzone_fifth {
  vertical-align: middle;
}
.resdrop {
  vertical-align: middle;
}
#outer-dropzone19{
  @include outer-dropzone;
  // margin-left: 120px;
  // margin-top: 10px;
}
#outer-dropzone20{
  @include outer-dropzone;
  margin-top: 6%;
  // @include shift(1);
  // margin-left: 15px;
  // margin-top: 10px;
}
#outer-dropzone21{
  @include outer-dropzone;
  margin-top: 8%;

  // margin-top: 10px;
}


.draggable p {
  margin: 0;
  text-align: center;
}
.wrong_button {
  display: none;
}
.outer-dropzones_sixth{
  background: url("/assets/circuit2-03.png") no-repeat;
  // background-size: cover;
  width: 100%;
  margin: 0 auto;
  height: 550px;
  background-size: 60%;
  // background-color: lightblue;
  border-radius: 20px;
  display: inline-block;
  background-position: bottom;
  // padding-bottom: 20px;
}
.outer_sixth {
    background-color: #FF6E5F;
  // width: 700px; 
  @include span-columns(6);
  border-radius: 20px;
  border: 5px solid white;
  padding-top: 30px;
  text-align: center;
}
.outer_sixth h2 {
  font-size: 40px;
  text-align: center;
  margin: 0;
  margin-bottom: 10px;
}